<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bygg din Volvo - Blå</title>
    <link rel="stylesheet" href="/static/css/buildpagebla.css">
</head>
<body>

    <header>
        <h1>Bygg din Volvo - Blå</h1>
    </header>

    <section class="car-image">
        <img src="/static/images/blas90.png" alt="Blå Volvo S90" width="600px" height="300px">
    </section>

    <section class="color-options">
        <h2>Välj en färg:</h2>
        <ul>
            <li><a href="buildpagesvart">Svart</a></li>
            <li><a href="buildpagevit">Vit</a></li>
            <li><a href="buildpagebla">Blå</a></li>
        </ul>
    </section>

    <section class="back-home">
        <a href="/">Tillbaka till Hem</a>
    </section>

</body>
</html>